---
http_interactions:
- request:
    method: get
    uri: http://wsparam.strikeiron.com/SpeedTaxSalesTax3?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.strikeiron.com/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" targetNamespace=\"http://www.strikeiron.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.strikeiron.com/\">\r\n
        \     <s:element name=\"GetSalesTaxValue\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"UserID\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ShipFrom\" type=\"tns:SpeedTaxAddress\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ShipTo\"
        type=\"tns:SpeedTaxAddress\" />\r\n            <s:element minOccurs=\"0\"
        max[...]
