---
http_interactions:
- request:
    method: post
    uri: http://wsparam.strikeiron.com/StrikeIron/SpeedTaxSalesTax3/SpeedTax
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.strikeiron.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetSalesTaxValue><tns:UserID>user_id</tns:UserID><tns:Password>password</tns:Password><tns:ShipFrom><tns:StreetAddress>One
        Microsoft Way</tns:StreetAddress><tns:City>Redmond</tns:City><tns:State>WA</tns:State><tns:ZIPCode>98052</tns:ZIPCode></tns:ShipFrom><tns:ShipTo><tns:StreetAddress>902
        Broadway</tns:StreetAddress><tns:City>New York</tns:City><tns:State>NY</tns:State><tns:ZIPCode>10010</tns:ZIPCode></tns:ShipTo><tns:TaxValueRequests><tns:TaxValueRequest><tns:SalesTaxCategoryOrCategoryID>01151605</tns:SalesTaxCategoryOrCategoryID><tns:Amount>239.41</tns:Amount></tns:TaxValueRequest></tns:TaxValueRequests></tns:GetSalesTaxValue></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.strikeiron.com/GetSalesTaxValue"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n
        \ <soap:Body>\r\n    <GetSalesTaxValueResponse xmlns=\"http://www.strikeiron.com/\">\r\n
        \     <GetSalesTaxValueResult>\r\n        <ServiceStatus>\r\n          <StatusNbr>201</StatusNbr>\r\n
        \         <StatusDescription>Successful (No Geopoint for From Address)</StatusDescription>\r\n
        \       </ServiceStatus>\r\n        <ServiceResult>\r\n          <Results>\r\n
        \           <TaxValueRecord>\r\n              <ItemStatus>\r\n                <StatusNbr>200</StatusNbr>\r\n
        \               <StatusDescription>Found</StatusDescription>\r\n              </ItemStatus>\r\n
        \             <Category>Computer Software (both prewritten and non-prewritten)
        delivered electronically</Category>\r\n              <CategoryID>01151605</CategoryID>\r\n
        \             <SalesTaxAmount>21.25</SalesTaxAmount>\r\n              <Jurisdictions>\r\n
        \               <SalesTaxValueJurisdiction>\r\n                  <FIPS>36</FIPS>\r\n
        \                 <Name>New York</Name>\r\n                  <SalesTaxAmount>9.58</SalesTaxAmount>\r\n
        \               </SalesTaxValueJurisdiction>\r\n                <SalesTaxValueJurisdiction>\r\n
        \                 <FIPS>061</FIPS>\r\n                  <Name>NEW YORK</Name>\r\n
        \                 <SalesTaxAmount>10.77</SalesTaxAmount>\r\n                </SalesTaxValueJurisdiction>\r\n
        \               <SalesTaxValueJurisdiction>\r\n                  <FIPS>CTD51000</FIPS>\r\n
        \                 <Name>METRO COMMUTER TRANS. DISTRICT</Name>\r\n                  <SalesTaxAmount>0.9</SalesTaxAmount>\r\n
        \               </SalesTaxValueJurisdiction>\r\n              </Jurisdictions>\r\n
        \           </TaxValueRecord>\r\n          </Results>\r\n          <ResolvedFromAddress>\r\n
        \           <StreetAddress>ONE MICROSOFT WAY</StreetAddress>\r\n            <City>REDMOND</City>\r\n
        \           <State>WA</State>\r\n            <ZIPCode>98052</ZIPCode>\r\n
        \         </ResolvedFromAddress>\r\n          <ResolvedToAddress>\r\n            <StreetAddress>902
        BROADWAY</StreetAddress>\r\n            <City>NEW YORK</City>\r\n            <State>NY</State>\r\n
        \           <ZIPCode>10010-6038</ZIPCode>\r\n          </ResolvedToAddress>\r\n
        \         <SalesTaxTotal>21.25</SalesTaxTotal>\r\n        </ServiceResult>\r\n
        \     </GetSalesTaxValueResult>\r\n      <SISubscriptionInfo>\r\n        <LicenseStatusCode>0</LicenseStatusCode>\r\n
        \       <LicenseStatus>Valid license key</LicenseStatus>\r\n        <LicenseActionCode>0</LicenseActionCode>\r\n
        \       <LicenseAction>Decremented hit count</LicenseAction>\r\n        <RemainingHits>8157</RemainingHits>\r\n
        \       <Amount>0</Amount>\r\n      </SISubscriptionInfo>\r\n    </GetSalesTaxValueResponse>\r\n
        \ </soap:Body>\r\n</soap:Envelope>"
  recorded_at: Tue, 04 Jun 2013 14:51:53 GMT
recorded_with: VCR 2.5.0
