---
http_interactions:
- request:
    method: post
    uri: http://wsparam.strikeiron.com/StrikeIron/SpeedTaxSalesTax3/SpeedTax
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.strikeiron.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetSalesTaxCategories><tns:UserID>user_id</tns:UserID><tns:Password>password</tns:Password></tns:GetSalesTaxCategories></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.strikeiron.com/GetSalesTaxCategories"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n
        \ <soap:Body>\r\n    <GetSalesTaxCategoriesResponse xmlns=\"http://www.strikeiron.com/\">\r\n
        \     <GetSalesTaxCategoriesResult>\r\n        <ServiceStatus>\r\n          <StatusNbr>200</StatusNbr>\r\n
        \         <StatusDescription>Successful</StatusDescription>\r\n        </ServiceStatus>\r\n
        \       <ServiceResult>\r\n          <SalesTaxCategory>\r\n            <Category>80/20
        Rule for Mixed TPP and Maintenance Services</Category>\r\n            <CategoryID>02409000</CategoryID>\r\n
        \         </SalesTaxCategory>\r\n          <SalesTaxCategory>\r\n            <Category>Agricultural
        Machinery and Equipment</Category>\r\n            <CategoryID>01331000</CategoryID>\r\n
        \         </SalesTaxCategory>\r\n          <SalesTaxCategory>\r\n            <Category>Agriculture</Category>\r\n
        \           <CategoryID>01330000</CategoryID>\r\n          </SalesTaxCategory>\r\n
        \         <SalesTaxCategory>\r\n            <Cate[...]
