---
http_interactions:
- request:
    method: post
    uri: http://wsparam.strikeiron.com/StrikeIron/SpeedTaxSalesTax3/SpeedTax
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.strikeiron.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.strikeiron.com/"><env:Body><ins0:GetSalesTaxCategories><ins0:UserID>user_id</ins0:UserID><ins0:Password>password</ins0:Password></ins0:GetSalesTaxCategories></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.strikeiron.com/GetSalesTaxCategories"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n
        \ <soap:Body>\r\n    <GetSalesTaxCategoriesResponse xmlns=\"http://www.strikeiron.com/\">\r\n
        \     <GetSalesTaxCategoriesResult>\r\n        <ServiceStatus>\r\n          <StatusNbr>200</StatusNbr>\r\n
        \         <StatusDescription>Successful</StatusDescription>\r\n        </ServiceStatus>\r\n
        \       <ServiceResult>\r\n          <SalesTaxCategory>\r\n            <Category>Alcohol</Category>\r\n
        \           <CategoryID>01051000</CategoryID>\r\n          </SalesTaxCategory>\r\n
        \         <SalesTaxCategory>\r\n            <Category>Alcoholic Beverages</Category>\r\n
        \           <CategoryID>01050000</CategoryID>\r\n          </SalesTaxCategory>\r\n
        \         <SalesTaxCategory>\r\n            <Category>Beer</Category>\r\n
        \           <CategoryID>01052000</CategoryID>\r\n          </SalesTaxCategory>\r\n
        \         <SalesTaxCategory>\r\n            <Category>Books</Category>\r[...]
